<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>LED Controller</title>
    </head>
    <body>
        <h1>Max's LED Controller</h1>
        <form id="changeLight">
            <label for="pixelNum">Light Number</label>
            <input type="number" name="pixelNum" id="pixelNum" value="5" />
            <label for="r">Red</label>
            <input type="number" name="r" id="r" value="10" />
            <label for="g">Green</label>
            <input type="number" name="g" id="g" value="200" />
            <label for="b">Blue</label>
            <input type="number" name="b" id="b" value="150" />
            <button type="submit">Change</button>
        </form>
    </body>
    <script src="index.js"></script>
</html>